@import "_variables";

.container {
  width: 100%;
  height: 100vh;

  display: flex;
}

.left__nav {
  width: 6%;
  height: 100vh;

  background-color: @white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding-right: 40px;
}

.left__nav_middle {
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__logo {
  width: 60%;
  height: 10vh;

  padding: 15px 20px;
}

.nav__icon {
  width: 40%;
  height: 4vh;

  padding: 15px 20px;
  margin-left: 12px;
}

.nav__icon:hover {
  cursor: pointer;
}
