/*
   Color
 */
/*
  Typography
 */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left__nav {
  width: 6%;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
}
.left__nav_middle {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav__logo {
  width: 60%;
  height: 10vh;
  padding: 15px 20px;
}
.nav__icon {
  width: 40%;
  height: 4vh;
  padding: 15px 20px;
  margin-left: 12px;
}
.nav__icon:hover {
  cursor: pointer;
}
.information {
  width: 60%;
  height: 100vh;
  background-color: #FAFAFE;
  display: flex;
  flex-direction: column;
}
.information__navbar {
  height: 5vh;
  width: 100%;
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.information__input {
  width: 30%;
  height: 4vh;
  color: #333333;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-left: 25px;
}
.information__navbtns {
  width: 70%;
  height: 5vh;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.information__navbtn {
  padding: 20px 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}
.information__navbtn:hover {
  cursor: pointer;
  color: #FE5366;
  transition: 0.2s ease-in-out;
}
.information__navbtn:last-child {
  margin-right: 50px;
}
.information__desc {
  width: 100%;
  height: 20vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.desc__header {
  width: 35%;
  font-size: 30px;
  padding: 20px 20px;
}
.desc__header_color {
  color: #FFA001;
}
.desc__cards {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
}
.desc__card {
  height: 30vh;
  width: 33%;
  border-radius: 25px;
}
.desc__card:nth-child(2) {
  background-color: #FE5366;
  color: #FFFFFF;
}
.white__icon {
  fill: #FFFFFF;
}
.desc__icon {
  height: 5vh;
  width: 25%;
  margin: 15px 8px;
}
.card__desc_header {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: -5px;
  margin-left: 8%;
}
.desc__paragraph {
  margin-left: 8%;
  width: 50%;
  font-size: 15px;
  color: #C1C0C5;
}
.popular__products {
  height: 45vh;
  width: 100%;
  background-color: #FFF0DE;
}
.shopping__container {
  height: 100vh;
  width: 35%;
  background-color: #FFA001;
}
body {
  margin: 0;
  font-family: "Lora", serif;
}
